# Operating System
.DS_Store
.AppleDouble
.LSOverride

# IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Global Secrets
.env
